body {
	font-family: Helvetica, arial, sans-serif;
	font-size: 0.8em;
	text-align: center;
	background: url(../images/bg.png) #222;
	color: #ddd;
	-webkit-text-size-adjust: none;
	}

html>body {
	font-size: 14px;
	}

h1	{
	font-size:3em;
	line-height: 1em;
	margin-top: 0.5em;
	text-align: center;
	font-family: 'Josefin Sans Std Light', helvetica, arial, sans-serif;
	}

p	{
	font-size:1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	}

li	{
	font-size:1em;
	line-height: 1.5em;
	}

ul#skills {
	text-align: center;
	word-spacing: 0.6em;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	line-height: 1em;
	font-family: 'Josefin Sans Std Light', helvetica, arial, sans-serif;
	}

.leader {
	display: inline-block;
	width: 2em;
	}

.leader img, #downloadcard img {
	height: 0.8em;
	vertical-align: baseline;
	}

ul#skills li {
	display: inline;
	}

#downloadcard {
	position: absolute;
	right: 1.5em;
	bottom: 1.5em;
	margin: 0em;
	}

#downloadcard p {
	margin: 0em;
	}

a	{
	color: #ddd;
	text-decoration: none;
	}

a:hover {
	color: #fff;
	border-bottom: solid 1px #fff;
	}

#wrapper {
	position: absolute;
	text-align: left;
	width: 35em;
	height: 19em;
	top: 50%;
	left: 50%;
	margin-top: -12em;
	margin-left: -20em;
	padding-bottom: 0.5em;
	border: solid 1px #222;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background: rgba(255,255,255,0.05) url(../images/angle.png) no-repeat top right;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-box-shadow:  0em 0em 20em rgba(155,155,155, 0.2);
	-moz-box-shadow:  0em 0em 20em rgba(155,155,155, 0.2);
	box-shadow: 0em 0em 20em rgba(155,155,155, 0.2);
	}
	
#html5 {
	position: absolute;
	right: 5px;
	bottom: 5px;
	}